<div class="sidebar">
  <div class="sidebar__logo">Pokedex</div>
  <div class="sidebar__items">
    <div class="sidebar__item">
      <a class="sidebar__link" href="/">Pokemons</a>
    </div>
    <div class="sidebar__item">
      <a class="sidebar__link" href="types">Types</a>
    </div>
    <div class="sidebar__item">
      <a class="sidebar__link" href="trainers">Trainers</a>
    </div>
  </div>
</div>