*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(12, 24, 6, 0.8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(12, 24, 6, 0.5);
}

body {
  box-sizing: border-box;

  font-family: "VT323", serif;
  background-color: #fff5e1;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  height: 100%;
  padding: 20px;
  background-color: #c80036;

  color: #fff5e1;
}

.sidebar__logo {
  margin-bottom: 20px;

  font-size: 40px;
  font-weight: bold;
}

.sidebar__items {
  font-size: 30px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar__link {
  text-decoration: none;
  color: inherit;
}

.sidebar__link:hover {
  color: rgb(255, 255, 255, 0.8);
}

/* DISPLAY ITEMS */

.add-item {
  margin-bottom: 20px;

  display: flex;
  justify-content: flex-end;
}

.add-item__link {
  text-decoration: none;

  color: #fff5e1;
  background-color: #0c1844;

  padding: 5px 10px;

  font-size: 30px;
}

.display {
  width: 100%;
  padding: 20px;

  overflow: auto;
}

.display__title {
  font-size: 40px;
  margin-bottom: 20px;
  color: #0c1844;
}

.display__items {
  font-size: 30px;
}

.display__items-titles,
.display__items-table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.display__items-titles {
  background-color: #c80036;
  color: #fff5e1;
}

.display__items-table {
  background-color: #ff6969;
  color: #fff5e1;
}

.display__items-table--item,
.display__items-title {
  padding: 5px 0;
}
