*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(12, 24, 6, 0.8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(12, 24, 6, 0.5);
}

body {
  box-sizing: border-box;

  font-family: "VT323", serif;
  background-color: #fff5e1;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  height: 100%;
  padding: 20px;
  background-color: #c80036;

  color: #fff5e1;
}

.sidebar__logo {
  margin-bottom: 20px;

  font-size: 40px;
  font-weight: bold;
}

.sidebar__items {
  font-size: 30px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar__link {
  text-decoration: none;
  color: inherit;
}

.sidebar__link:hover {
  color: rgb(255, 255, 255, 0.8);
}

/* DISPLAY ITEMS */

.add-item {
  margin-bottom: 20px;

  display: flex;
  justify-content: flex-end;
}

.add-item__link {
  text-decoration: none;

  color: #fff5e1;
  background-color: #0c1844;

  padding: 5px 10px;

  font-size: 30px;
}

.display {
  width: 100%;
  padding: 20px;

  overflow: auto;
}

.display__title {
  font-size: 40px;
  margin-bottom: 20px;
  color: #0c1844;
}

.display__items {
  font-size: 30px;
}

.display__items-titles,
.display__items-table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.display__items-titles {
  background-color: #c80036;
  color: #fff5e1;
}

.display__items-table {
  background-color: #ff6969;
  color: #fff5e1;
}

.display__items-table--item,
.display__items-title {
  padding: 5px 0;
}

.display__items-table--action {
  width: 100%;

  display: flex;
  gap: 20px;
  justify-content: center;
}

.display__items-table--item-icon {
  text-decoration: none;
}

.display__items-table--item-icon svg {
  width: 25px;
  fill: #fff5e1;
}

.display__items-table--item-icon svg:hover {
  fill: rgb(255, 245, 225, 0.8);
}

.create-pokemon,
.update-pokemon {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #fff5e1;
}

.create-pokemon__back-link,
.update-pokemon__back-link {
  width: 500px;
  font-size: 20px;
  text-decoration: none;
  color: #0c1844;

  text-align: left;
}

.create-pokemon__back-link:hover,
.update-pokemon__back-link:hover {
  text-decoration: underline;
}

.create-pokemon__form,
.update-pokemon__form {
  width: 500px;
  height: 600px;
  padding: 60px 30px;
  background-color: #c80036;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.create-pokemon__form--title,
.update-pokemon__form--title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.create-pokemon__name,
.create-pokemon__trainer,
.create-pokemon__type,
.update-pokemon__name,
.update-pokemon__trainer,
.update-pokemon__type {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.create-pokemon__name--input,
.update-pokemon__name--input {
  border: none;
  outline: none;

  font-family: inherit;
  font-size: 30px;

  padding: 5px 10px;

  background-color: #fff5e1;
  color: #0c1844;
}

.create-pokemon__trainer select,
.create-pokemon__type select,
.update-pokemon__trainer select,
.update-pokemon__type select {
  border: none;
  outline: none;

  font-family: inherit;
  font-size: 30px;

  padding: 5px 10px;

  background-color: #fff5e1;
  color: #0c1844;
}

.create-pokemon label,
.update-pokemon label {
  font-size: 30px;
}

.create-pokemon button,
.update-pokemon button {
  color: #fff5e1;
  background-color: #0c1844;

  padding: 5px 10px;

  font-size: 30px;
  font-family: inherit;

  border: none;
  outline: none;
  width: 100%;
}

.create-pokemon button:hover,
.update-pokemon button:hover {
  cursor: pointer;
  background-color: rgb(12, 24, 68, 0.8);
}

.create-pokemon__errors,
.update-pokemon__errors {
  background-color: #fff5e1;
  color: #c80036;
  padding: 5px 10px;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  list-style: none;
}

.create-pokemon__errors:empty,
.update-pokemon__errors:empty {
  padding: 0;
}
