<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <%- include('../templates/styles') %>

  <style>
    .display__items-titles,
    .display__items-table {
      grid-template-columns: repeat(2, 1fr);
    }
  </style>
</head>

<body>
  <div class="app">
    <%- include('../templates/sidebar') %>
    <%- include('./display', {trainers: trainers, keys: keys}) %>
  </div>
</body>

</html>